# Universal Randomizer

# MerchantOffer
# Меняем только конечный продаваемый ItemStack,
# сохраняя оригинальную цену, XP, max uses и прочее.
public-f net.minecraft.world.item.trading.MerchantOffer result